body{
    height: 100%;
}

.parallax{
    background: url('../assets.img/punpun_cover_2.jpg');
    height: 620px;
    
    padding: 3% 0 3% 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont1{
    background-image: url('../assets.img/eli_cover_1.png');
   
    padding: 5% 50% 1% 30%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont2{
    height: 480px;

    opacity: 0.8;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cont2 dd{
    text-align: right;
}

.cont3{
    height: 500px;
   
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: gray;
    font-size: 3em;
    padding: 2%;
    text-align: center;
    font-family: "Arial", "Helvetica", sans-serif;
}

h1 span{
    color: purple;
    font-size: 1.5em; 
    font-family: "Lucida Console", "Courier New", monospace;
    padding: 0.5%;
}

h2{
    color: purple;
    font-size: 3em;
    padding: 2%;
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

h2 span{
    color: gray;
    padding: 1%;
}

h3{
    color: gray;
    padding: 1%;
    text-align: center;
}

h3 span{
    color: purple;
}

h4{
    padding: 1%;
    text-align: center;
}

p span{
    font-weight: bold;
}

.whiteopac{
    background-color: black;
    opacity: 0.8;
}

.spacer-large{
    height: 400px;
}

.spacer-small{
    height: 100px;
}

.spacer-medium{
    height: 250px;
}

.GBAR{
    background-color: black;
    height: 300px;
    padding: 4% 0 2% 0;
}

.cont3 ul li{
    float: left;
    padding: 3%;
}
